@page
@model web3.Pages_Companies.IndexModel

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company[0].InterestDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Company) {
        <tr>
            <td style="width: 250px; height: 250px;">
                <img class="mw-100" src=@Html.DisplayFor(modelItem => item.Image) alt=@Html.DisplayFor(modelItem => item.Name)>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>